doctype html
html 
  head  
    title Harry Dance Academy
    block scripts
    block style
  body
    nav#navber.top 
      ul 
        div#logo 
          img(src="/static/imgs/dancelogo.jpg")
          | HDA
        li #[a(href="/") Home]
        li #[a(href="/about") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class info]
        li #[a(href="/contact") Contact Us] 
    block content 
    footer#footersection 
     | Copyright 2019 ©HarryDanceAcademy.com| All rights reserved
  